---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: "Home",
  dontUseTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'See How', href: '#features', icon: 'tabler:circle-arrow-down-filled' }}
    image={{ src: import('~/assets/images/hero2.svg'), alt: 'Vipyr Hero Image' }}
  >
    <Fragment slot="title">
      Your Packaging Ecosystem <span class="hidden xl:inline">-</span>
      <span class="text-primary dark:text-white highlight"> Malware Free</span> </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Developing <span class="font-semibold">open source tools</span> to promote <span class="font-semibold">open source security</span>.</span
        >

    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="How does Vipyr Security protect you?"
    subtitle="Here are a few reasons we think we stand out from the crowd."
    items={[
      {
        title: '500+ Positive Detections',
        description:
          'A structured incident response pipeline triaging and analyzing potential malware with an average takedown of 10 minutes or less.',
        icon: 'tabler:bug-off',
      },
      {
        title: 'Open Source Development',
        description:
          'End user configurable, language agnostic design can be extended to scan and triage any type of file, and scaled to fit any workload.',
        icon: 'tabler:git-merge',
      },
      {
        title: 'All Volunteer Team',
        description:
          'Maintained by a dedicated team of open source security enthusiasts rapidly adapting to tomorrow\'s cyber threat landscape.',
        icon: 'tabler:users',
      },
      {
        title: '24/7 Packaging Ecosystem Scanning',
        description:
          'Utilizing cloud-native application development and cutting-edge monitoring to maintain constant vigilance over the open source supply chain.',
        icon: 'tabler:rotate-clockwise',
      },
    ]}
  />

    <!-- Stats Widget ****************** -->

    <Stats
    items={[
      { name: 'Packages Scanned', value: '244K' },
      { name: 'Package Takedowns', value: '577' },
      { name: 'Detection Signatures', value: '100+' },
      { name: 'Contributors', value: '16' },
    ]}
  />

  <!-- Content Widget **************** -->
  

  <Content
    tagline="projects"
    title="Supply Chain Security"
    items={[
      {
        title: 'Dragonfly - Client',
        description:
          'A dockerized malware scanner written in Rust to safely perform static analysis on files using VirusTotal YARA rules.',
      },
      {
        title: 'Dragonfly - Server',
        description:
          'A FastAPI-based command and control server performing data aggregation and file distribution functions for use with the client scanning application.',
      },
      {
        title: 'Dragonfly - Bot',
        description:
          'A Discord front end to allow for community triaging and analysis of potentially malicious files detected by the Dragonfly framework.',
      },
    ]}
    image={{
      src: import('~/assets/images/chris-ried-unsplash.jpg'),
      alt: 'Python Code',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Dragonfly</h3>
      A scalable suite of detection applications and automated triaging for analysis results.
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Catch up with our latest research!"
    information={`Want to know what threats are affecting the software supply chain? Check out some of the articles by
                  our team of malware analysts and engineers. 
                `}
  />
</Layout>