---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul class="mx-auto max-w-6xl space-y-5 md:space-y-6">
  {
    posts.map((post) => (
      <li>
        <Item post={post} />
      </li>
    ))
  }
</ul>
