---
import { Icon } from 'astro-icon/components';
import { getPermalink } from '~/utils/permalinks';
import Button from '~/components/ui/Button.astro';

export interface Props {
  prevUrl?: string;
  nextUrl?: string;
  prevText?: string;
  nextText?: string;
}

const { prevUrl, nextUrl, prevText = 'Newer posts', nextText = 'Older posts' } = Astro.props;
---

{
  (prevUrl || nextUrl) && (
    <div class="flex">
      <div class="mx-auto flex w-full flex-row justify-between">
        <Button variant="tertiary" class={`mr-2 px-4 ${!prevUrl ? 'invisible' : ''}`} href={getPermalink(prevUrl)}>
          <Icon name="tabler:chevron-left" class="h-5 w-5" />
          <p>{prevText}</p>
        </Button>

        <Button variant="tertiary" class={`px-4 ${!nextUrl ? 'invisible' : ''}`} href={getPermalink(nextUrl)}>
          <span>{nextText}</span>
          <Icon name="tabler:chevron-right" class="h-5 w-5" />
        </Button>
      </div>
    </div>
  )
}
