---
import Layout from '~/layouts/PageLayout.astro';

import type { MetaData } from '~/types';

export interface Props {
  frontmatter: {
    title?: string;
  };
}

const { frontmatter } = Astro.props;

const metadata: MetaData = {
  title: frontmatter?.title,
};
---

<Layout metadata={metadata}>
  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <h1 class="font-bold font-heading text-4xl leading-tighter tracking-tighter text-white md:text-5xl">
      {frontmatter.title}
    </h1>
    <div
      class="vipyr-prose-code prose prose-md prose-invert mx-auto mt-8 max-w-4xl prose-lg prose-headings:text-slate-300"
    >
      <slot />
    </div>
  </section>
</Layout>
