---
name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    permissions:
      contents: read

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Build
        uses: withastro/action@15aa0a5a1e067940253e3b259413ab2ae882a740  # v5.2.0

  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}

    needs: build

    permissions:
      pages: write
      id-token: write

    runs-on: ubuntu-24.04
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e  # v4.0.5

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
