---
name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    permissions:
      contents: read

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Build
        uses: withastro/action@fd83e9d976da29fe29a0cc268443b7203c18f9ba  # v5.0.2

  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}

    needs: build

    permissions:
      pages: write
      id-token: write

    runs-on: ubuntu-24.04
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e  # v4.0.5

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
