---
name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    permissions:
      contents: read

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - name: Build
        uses: withastro/action@9811f9299d5d37ca0416ca85cee333c7c9485cd1  # v5.0.1

  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}

    needs: build

    permissions:
      pages: write
      id-token: write

    runs-on: ubuntu-24.04
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e  # v4.0.5

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
